input {
  beats {
    port => 5044
  }
}

filter {
  if "ubuntu_syslog" in [tags] {
    grok {
      match => { "message" => "%{SYSLOGTIMESTAMP:timestamp} %{SYSLOGHOST:host} %{DATA:program}(?:\[%{POSINT:pid}\])?: %{GREEDYDATA:log}" }
    }
    date {
      match => ["timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss"]
    }
  }
}

output {
  if "ubuntu_syslog" in [tags] {
    elasticsearch {
      hosts => ["http://elasticsearch:9200"]
      index => "ubuntu-syslog-%{+YYYY.MM.dd}"
    }
  }

  if "nginx_logs" in [tags] {
    elasticsearch {
      hosts => ["http://elasticsearch:9200"]
      index => "nginx"
    }
  }
}
